/* App.css */

.app-container {
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #303030;
  color: #ffffff; /* Set text color to black */
}

.block {
  display: flex;
  flex-direction: row; /* Change to row to align horizontally */
  justify-content: space-around; /* Adjust as needed */
  align-items: center;
  padding: 20px;
}

.card {
  background-color: #5f2020;
  width: 300px; /* Adjust the width of each card as needed */
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  align-items: center; /* Align items vertically in the center */
  flex-wrap: wrap;
}

h1 {
  color: #ffffff; /* Set heading color to black */
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

/* Optional: Add some spacing and styling to the components inside the cards */
.card > div {
  margin-top: 15px;
}

/* Optional: Style for ItemsList, Students, Subjects components */
.ItemsList-item,
.Students-item,
.Subjects-item {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.ItemsList-item:hover,
.Students-item:hover,
.Subjects-item:hover {
  background-color: #e0e0e0;
}
